* {
  box-sizing: border-box;
}

body {
  background-color: rgb(227, 233, 195)
}

h1 {
  text-align: center;
}

.js-title {
  cursor: pointer;
}

.hidden {
  display: none;
}

.js-create-form {
  margin: 10px 0 20px 0;
  border: 1px solid rgb(120, 167, 46);
  padding: 20px;
  list-style: none;
}

.js-create-form label {
  display: block;
}

.js-create-form input, select {
  margin: 5px;
}


.create-submit-button {
  margin-top: 10px;
}

.js-item-element {
  background-color: darkkhaki;

}

.js-item-element:hover {
      box-shadow: 5px 5px 2px grey;

}
.js-item-element:hover h2 {
  color: darkviolet
}

@media only screen and (min-width: 340px) {
  .container {
    max-width: 250px;
    margin: 0 auto;
  }
  
  li {
    margin-bottom: 20px;
    border: 1px solid grey;
    padding: 20px;
    list-style: none;
    max-width: 250px
  }
}

@media only screen and (min-width: 640px) {
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  li {
    margin-bottom: 20px;
    border: 1px solid grey;
    padding: 20px;
    list-style: none;
    max-width: 600px;
  }
}